@media (max-width: 767px) {
    .main-header{
        background-image: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/bcgm.jpg");
    }

}
@media (min-width: 768px) and (max-width: 939px)  {
    .main-header{
        background-image: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/bcgt.jpg");
        padding-top: 40px;
        padding-bottom: 234px;
    }

    .main-nav {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 140px;
    }
    .main-nav__buttons {
        margin-bottom: 0;
        flex-basis: 25%;
        order: 2;
    }
    .primary-title{
        font-size: 52px;
        margin-bottom: 30px;
    }
    .primary-title-description{
        font-size: 24px;
        width: 100%;
        margin-bottom: 36px;
    }

}