@media  (min-width: 461px){
    .partner-list__item:nth-child(2){
        order: 3;
    }
    .partner-list__item:nth-child(4){
        order: 3;
    }
    .partner-list{
        width: 492px;
    }
}

@media (max-width: 767px) {
    .main-header{
        background-image: linear-gradient(rgba(10, 5, 0, 0.25), rgba(10, 5, 0, 0.25)), url("../img/bcgm.jpg");
    }

}
@media (min-width: 768px) and (max-width: 942px){
    .container {
        padding: 0 48px;
    }
    .partner-list {

         margin-bottom: 0;
    }
    .partner-list__item {
        margin-bottom: 46px;
    }

}

@media (min-width: 768px) {

    .main-header{
        background-image: linear-gradient(rgba(10, 5, 0, 0.25), rgba(10, 5, 0, 0.25)), url("../img/bcgt.jpg");
        padding-top: 40px;
        padding-bottom: 234px;
    }


    .main-nav {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 140px;
    }
    .main-nav__buttons {
        margin-bottom: 0;
        flex-basis: 25%;
        order: 2;
    }
    .primary-title{
        font-size: 52px;
        width: 510px;
        margin-bottom: 30px;
    }
    .primary-link{
        width: auto;
    }

    .primary-title-description{
        font-size: 24px;
        width: 100%;
        margin-bottom: 36px;
    }
    .partner-list{
        justify-content: space-between;
    }
    .partners-title{
        margin-bottom: 36px;
    }

}
@media (min-width: 942px){
    .main-header {
        background-image:linear-gradient(rgba(10, 5, 0, 0.25), rgba(10, 5, 0, 0.25)), url("../img/bcgd.jpg");

    }
    .partner-list{
        width: 100%;
        margin-bottom: 6px;
    }
    .main-nav__buttons {

        flex-basis: 20%;
        order: 2;
    }


}
